@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.navbar-brand {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
}
.brand-color {
  color: #6344a4;
}
.no-border:focus,
.no-border:active {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0;
}

.parent {
  display: block;
  position: relative;
  float: left;
  line-height: 30px;
}

.parent a {
  margin: 10px;
  color: #000000;
  text-decoration: none;
  font-weight: 500;
}

.parent:hover > ul {
  display: block;
  position: absolute;
  background-color: #f7f7f7;
  right: 0;
}

.child {
  display: none;
}

.child li {
  line-height: 40px;
  width: max-content;
}

.child li a {
  color: #000000;
}
.parent :hover {
  color: #6344a4;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  min-width: 10em;
}

ul ul ul {
  left: 100%;
  top: 0;
  margin-left: 1px;
}

.expand {
  font-size: 12px;
  float: right;
  margin-right: 5px;
}
.searchbar {
  margin-right: 70px;
}
.heading {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 127.5%;
}
.btn-brand {
  background-color: #6344a4;
  color: white;
}
.md-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 127.5%;
  color: #000000;
}
.sm-heading {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 127.5%;
  color: #000000;
}
.text-size {
  font-size: 18px;
  font-weight: 500;
}
.vl-left {
  border-left: 8px solid #6344a4;
}
/* external css: flickity.css */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: #eee;
}

.carousel-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  border-radius: 5px;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  line-height: 200px;
  font-size: 80px;
  color: white;
}
